* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.wrap {
    width: 1660px;
    min-height: 1000px;
    background: #222220;
}

.d-flex {
    display: flex;
}

.pad-left207 {
    padding-left: 207px;
}
.radius5 {
    border-radius: 5px;
}
header {
    column-gap: 378px;
    padding-top: 42px;
}

.header_right_nav {
    margin-top: 10px;
}
.header_right_nav_item >a {
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.button_items button {
    margin-left: 28px;
    text-decoration: none;
    cursor: pointer;
}

.button_item_1, .button_item_2 {
    position: relative;
    width: 40px;
    height: 40px;
    background: #222220;
}

.button_item_1 >img, .button_item_1 >img, .button_item_2 >img{
    position: absolute;
    top: -20px;
    left: -20px;
}

.button_item_1 >img:nth-child(2) {
    top: 10px;
    left: 10px;
}

.button_item_2 >img:nth-child(2) {
    top: 20px;
    left: 10px;
}

.button_item_2 >img:nth-child(3) {
    top: 5px;
    left: 13px;
}

.button_item_3 {
    font-size: 16px;
    line-height: 19px;
    color: white;
    background: #CB3B48;
    border: 1px solid #CB3B48;
    width: 179px;
    height: 50px;
    text-transform: uppercase;
}

.order_top-line {
    width: 70px;
    height: 5px;
    background: #C93A48;
    margin-top: 92px;
}

.order_top {
    margin-top: 15px;
}
.order_top-left {
    column-gap: 32px;
}

.order_top-left h2 {
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: white;
}

.order_top-left p {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 10px;
}

.order_top {
    column-gap: 200px;
}

.order_top-right h2 {
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.salad_parmidgano {
    margin-top: 70px;
}

.salad_parmidgano_item:nth-child(1) >img {
    position: relative;
}
.salad_block1 {
    position: absolute;
    top: 330px;
    left: 225px;
}

.salad_block2 {
    position: absolute;
    top: 555px;
    left: 225px;
}

.salad_block3 {
    position: absolute;
    top: 765px;
    left: 225px;
}
.salad_parmidgano_content {
    margin: 20px 14px 21px 40px;
    position: relative;

}
.salad_parmidgano_content h2 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.salad_parmidgano_content_items {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #CB3B48;
    column-gap: 29px;
    margin-bottom: 13px;
}

.salad_parmidgano_content_items_buttons {
    column-gap: 29px;
}

.salad_parmidgano_content_items_buttons h2 {
    font-size: 33px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button_minus_1, .button_plus_1 {
    width: 18px;
    height: 25px;
    background: #CB3B48;
    border-radius: 5px 0 0 5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_1 {
    width: 39px;
    height: 25px;
    background: white;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in_detail, .order_more {
    width: 124px;
    height: 37px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}
.in_detail {
    background: #FFFFFF;
    color: #CB3B48;
}
.order_more {
    background: #CB3B48;
    color: white;
}

.button_side, .button_side2 {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    width: 94px;
    height: 23px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -8px;
    column-gap: 5px;
}
.color_white {
    color: white;
 }

.color_red {
    color: #C93A48;
}

.back_white {
    background: white;
}

.back_red {
    background: #C93A48;
}
.button_side2 {
    width: 120px;
}

.button_side3 {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.your_order {
    position: relative;
}
.your_order img {
    position: absolute;
    left: 70px;
    top: 70px;
}

.your_order_content {
    position: absolute;
    width: 351px;
    top: 100px;
    left: 80px;
}

.your_order_content_title {
    column-gap: 66px;
    margin-bottom: 43px;

}

.your_order_content_title h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.your_order_content_item {
    column-gap: 47px;
}

.your_order_content_item h3 {
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    width: 148px;
    margin-bottom: 14px;
}

.your_order_content_item p:nth-child(2) {
    font-size: 15px;
    line-height: 17px;
   color: #767676;
    margin-bottom: 14px;
}

.your_order_content_item p:nth-child(3) {
    font-size: 19px;
    line-height: 22px;
    color: #CB3B48;
    margin-bottom: 25px;
}

.your_order_line {
    width: 314px;
    height: 1px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 93px;
    margin-left: 5px;
}

.your_order_content_item_foot {
    margin-top: 25px;
}

.your_order_content_item_foot h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 101px;
}
.your_order_content_item_foot p:nth-child(2) {
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #FFFFFF;
    margin: 5px 9px 0 0 ;

}

.your_order_content_item_foot p:nth-child(3) {
    font-size: 19px;
    line-height: 22px;
    text-align: right;
    color: #CB3B48;
}

.your_order_button {
    width: 314px;
    height: 47px;
    background: #CB3B48;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 21px;
}

.add_to_the_order {
    column-gap: 521px;
    margin-top: 79px;
}

.add_to_the_order h2 {
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.add_to_the_order button {
    width: 249px;
    height: 50px;
    background: #CB3B48;
    color: white;
    border-radius: 7px;
}

.add_to_the_order_item_content {
    width: 175px;
    height: 73px;
    border-radius: 0 13px 13px 0;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}
.add_to_the_order_item {
    margin-top: 56px;
}
.add_to_the_order_item_content_text, .add_to_the_order_item_content_text_2 {
    margin: 9px 0 8px 13px;
}

.button_round_plus_1, .button_round_plus_2, .button_round_plus_3, .button_round_plus_4 {
    width: 37px;
    height: 37px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C93A48;
    font-size: 30px;
}
.button_round_plus_1 {
    position: absolute;
    left: 460px;
    bottom: 60px;
}
.button_round_plus_2 {
    position: absolute;
    left: 760px;
    bottom: 60px;
}

.button_round_plus_3 {
    position: absolute;
    left: 1066px;
    bottom: 60px;
}

.button_round_plus_4 {
    position: absolute;
    right: 263px;
    bottom: 60px;
}

.add_to_the_order_items {
    column-gap: 22px;
}

.add_to_the_order_item_content_text_2 h2 {
    font-size: 16px;
}

.add_to_the_order_item_content_text_2 p {
    color: #C93A48;
}

.add_to_the_order_items {
    position: relative;
}

.review h2 {
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 78px 0 40px 0;
}

.review_content h3 {
    font-size: 24px;
    line-height: 118.3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;;
}

.review_content_blocks {
    column-gap: 60px;
}
.send_review textarea {
    width: 839px;
    height: 118px;
    background: #161615;
    border-radius: 15px;
    margin-top: 46px;
    color: #FFFFFF;
}

